@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Serif", serif;
}
header img{
    width: 100%;
}
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
header nav li {
    margin: 1em 2em;
    list-style: none;
}
header nav li a {
    text-decoration: none;
    color: #ff4655;
    font-size: 1.3em;
}


.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.agent-article{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 90%;
    text-align: center;
    border-radius: 1em;   
    margin: 1em;
}
.contain-img-info img {
    width: 100%;
    padding: 2em;
}
.contain-img-info p {
        padding:2em ;
        line-height: 1.3em;
}

@media (min-width:980px) {
    
.agent-article{
    width:40%;
}

.agent-article:hover{
    transform: scale(1.05);
}
.contain-img-info {
    display: flex;
    align-items: center;
}
.contain-img-info p {
    padding:2em ;
    line-height: 1.3em;
}
.contain-img-info img {
width: 100%;
padding: 1em;
}
}

.contact {
    margin-top: 1em;
    text-align: center;
}

.contact label ,input[type="submit"]{
display: block;
margin: .5em auto;
}

footer{
    margin-top:2em ;
    display: flex;
    justify-content: center;
    background-color: #1a1a66;
}
footer li {
    margin: 1em;
    list-style: none;
    color: #fff;
}
footer li a {
    text-decoration: none;
    color: #fff;
}